<section id="skills" class="bg-light">
    <div class="container">
        <div class="row mb-8">
            <div class="col-lg-10 col-xl-8 mx-lg-auto text-center">
                <div class="section-title h2 mb-3">
                    <h2 class="mb-0">Skills</h2>
                    <span class="title-letter">S</span>
                </div>
                <p>Teknik yetkinliklerimi [Dil/Framework] üzerindeki projelerle şekillendirirken, karmaşık algoritmaları çözme ve temiz kod yazma pratiklerine odaklanıyorum. Arayüz geliştirmede [Teknoloji] kullanıyor, arka planda ise [Teknoloji] ile sağlam bir mantık yapısı kurguluyorum. Sürekli değişen teknoloji dünyasında, yeni kütüphaneleri ve [Yetenek: Örn. Unit Testing veya UI/UX] standartlarını projelerime hızla adapte edebiliyorum</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
                <p class="h6 mb-1">Social Media</p>
                <div class="progress mb-6 rounded-0" style="height:5px">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6 mb-1">Project Management</p>
                <div class="progress rounded-0" style="height:5px">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="h6 mb-1">Analytical Knowledge</p>
                <div class="progress mb-6 rounded-0" style="height:5px">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6 mb-1">Creativity & Expression</p>
                <div class="progress rounded-0" style="height:5px">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</section>