<header class="site-header site-header-light bg-dark">
	<div class="header-inner">
		<div class="header-brand">
			<!-- Logo -->
			<a href="#" class="logo">
				<span>Sıla Nur Özmen</span>
				<span class="title-letter text-white opacity-10">İ</span>
			</a>
		</div>
		<div class="nav-divider mb-8"></div>
		<nav class="site-nav">
			<ul id="navigation">
				<li>
					<a href="#home" class="scrollto">Ana Sayfa</a>
				</li>
				<li>
					<a href="#about" class="scrollto">Hakkımda</a>
				</li>
				<li>
					<a href="#services" class="scrollto">Hizmetlerim</a>
				</li>
				<li>
					<a href="#portfolio" class="scrollto">Projelerim</a>
				</li>
				<li>
					<a href="#news" class="scrollto">Deneyimlerim</a>
				</li>
				<li>
					<a href="#contact" class="scrollto">Bana Yazın</a>
				</li>
			</ul>
		</nav>
		<div class="nav-divider my-8"></div>
		<nav>
			<ul class="list-inline text-center">
				<li class="list-inline-item">
					<a class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="#">
						<span class="btn-icon-inner fab fa-facebook-f"></span>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="#">
						<span class="btn-icon-inner fab fa-instagram"></span>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="#">
						<span class="btn-icon-inner fab fa-twitter"></span>
					</a>
				</li>
				<li class="list-inline-item">
					<a class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="#">
						<span class="btn-icon-inner fab fa-pinterest"></span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>